<br/>
<div class="col-md-4" align="center">
  <img src="assets/logo.jpeg">
  <div class="row">
    <h2>A Reddit clone</h2>
    <p>I learned how to code in Rails on this bad boy! </br>
      Take a look around. Let me know how I did. </br>
      Love, Rachel</p>
  </div>
  </br>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="col-md-6" align="right">
  <img src="assets/Baby.jpg" width="450px" border="5">
  <p> <h3>Share fun stuff like this cranky baby!</h3> </p>
</div>